// 自定义 xstyle 风格样式

// 调整 element 样式
// 避免表头和内容不对齐
.el-table th.gutter{
  display: table-cell!important;
}

.el-table colgroup.gutter{
  display: table-cell!important;
}

.xel-main {
  padding: 10px;
}

.xel-close{
  position: absolute;
  background: red;
  color: white;
  border-radius: 10px;
  z-index: 999;
  line-height: 20px;
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: 18px;
  padding: 0;
  top: 0px;
  right: -20px;
  &::before {
    content: "\2716";
  }
}
